@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(#d8d8d8 1px, transparent 2px);
  background-color: #FAFAFA;
  background-position: 0 0 100px 100px;
  background-size: 30px 30px;
  background-attachment: fixed;
}
body.dark-mode {
  background-image: radial-gradient(#3c4146, 1px, transparent 2px);
    /* blur the background image */
    background-color: #252931;
  background-position: 0 0 100px 100px;
  background-size: 30px 30px;
  background-attachment: fixed;
}

.profile-pic {
  border-radius: 50%;
  width: 80%;
  margin: 0 auto;
}

.sidebar {
  height: 91vh;
}


.sidebar-div {
  height: 90vh;
}

@media screen and (max-width: 768px) {
  .sidebar {
    height: "auto"
  }
  .sidebar-div {
    height: "auto"
  }
}

